@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    display: block;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.whole-container {
    font-family: "Poppins", sans-serif;
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
}

.cheque_container {
    max-width: auto;
    /* margin: 20px auto; */
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* position: relative; */
    /* margin-right: 25%; */
    
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-group label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#cheque {
    /* display: none; */
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    /* background-color: white; */
    /* background-color: cornsilk; */
    background-image: url("chequetemplate.jpg");
    background-size: 768px 288px;
    width: 768px;
    height: 288px;
    position: relative;
    font-family: Arial, sans-serif;
    box-shadow: 1px 1px 1px;
    
    

}
.cheque-line {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    width: 100%;
}
.cheque-field {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}
#chequeDate {
    top: 45px;
    left: 569px;
    letter-spacing: 8.5px;
}
#accountNumber {
    top: 39px;  
    left: 137px;
}
#amount {
    top: 75px;
    left: 550px;
}
#amountWords {
    top: 99px;
    left: 89px;
    width: 650px;
    height: 25px;
    font-size: 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: flex;
    align-items: center;
    line-height: 12px;
}
#payee {
    top: 70px;
    left: 122px;
    width: 380px;
    height: 25px;
    font-size: 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: flex;
    align-items: center;
    line-height: 12px;
}
#dvNumber {
    top: 220px;
    left: 95px;
}
#checkNumber {
    top: 39px;
    left: 318px;
}

/* @media print {
    body * {
        visibility: hidden;
    }
    #cheque, #cheque * {
        visibility: visible;
        margin-top: 100px;
    }
    #cheque {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
} 


/* CSS FOR TABS (Print, Logs, Summary) */
.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 15%;            //added by vene
    margin-right: 15%; */
}



.tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-bottom: none;
    
}

.tab:last-child {
    border-right: 1px solid #ccc;
}

.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
}

.tab-content {
    /* display: flex; */
    display: none;  
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    /* width: 100%; */
    background-color: #fff;
    /* margin-left: 15%;                    // added by vene
    margin-right: 15%; */
}

.tab-content.active {
    display: block;
    width: auto;
    height: auto;
    /* margin-left: 20%; */
    
}




/* CSS FOR LOGS */
table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0; */
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}


/* CSS FOR SUMMARY */


.calendar {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.calendar th, .calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.calendar th {
    background-color: #f2f2f2;
}
.calendar .header {
    background-color: #4CAF50;
    color: white;
}
.calendar .today {
    background-color: #ffeb3b;
}
.calendar .event {
    background-color: #d1e7dd;
}




/* CSS FOR SUMMARY SECTION */

.calendar-container {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 90%;
    max-width: 800px; */
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calendar th, .calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #f2f2f2;
}

.calendar .header {
    background-color: #4CAF50;
    color: #000;
}

.calendar .today {
    background-color: #ffeb3b;
}

.calendar .event {
    background-color: #d1e7dd;
}

/* button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
} */

.summary {
    display: grid;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*BUTTON STYLING*/
.styled-button {
    background-color: #4672d0; /* Green background */
    border: none;             /* Remove borders */
    color: white;             /* White text */
    padding: 15px 32px;       /* Some padding */
    text-align: center;       /* Centered text */
    text-decoration: none;    /* Remove underline */
    display: inline-block;    /* Make the button inline-block */
    font-size: 16px;          /* Increase font size */
    margin: 4px 2px;          /* Add some margin */
    cursor: pointer;          /* Pointer/hand icon on hover */
    border-radius: 8px;       /* Rounded corners */
    transition: background-color 0.3s ease; /* Add a transition effect */
}

.styled-button:hover {
    background-color: #4068c0; /* Darker green on hover */
}





/* CSS FOR ADDING NEW ACCOUNT NUMBER */
.hidden {
    display: none;
}





/* CSS FOR SEARCH BAR */
.search {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
  }
  
  .searchinput {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    /* border-radius: 30px; */
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .searchinput:hover, .searchinput:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .searchinput:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .searchinput::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .searchinput:focus + .searchbutton {
    background-color: #f0eeee;
  }
  
  .searchbutton {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .searchbutton:hover {
    cursor: pointer;
  }
  
  .searchicon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }




  /* CSS FOR ACTION BUTTON DELETE AND RE PRINT */

    td.action-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* GREEN */
    .action-button-green{
        margin: 5px;
        background: none;
        border: 3px solid green;
        font-size: 17px;
        cursor: pointer;
        /* border-radius: 6px; */
        transition: 200ms;
    }

    .action-button-green:hover{
        margin: 5px;
        background: green;
        color: white;
        border: 3px solid green;
        font-size: 17px;
        cursor: pointer;
        /* border-radius: 6px; */
    }

    /* RED */
    .action-button-red{
        margin: 5px;
        background: none;
        border: 3px solid red;
        font-size: 17px;
        cursor: pointer;
        /* border-radius: 6px; */
        transition: 200ms;
    }

    .action-button-red:hover{
        margin: 5px;
        background: red;
        color: white;
        border: 3px solid red;
        font-size: 17px;
        cursor: pointer;
        /* border-radius: 6px; */
    }





    /* CSS FOR SCROLLABLE HISTORY TABLE */
    .container-table {
        width: 100%;
        height: 400px; /* Set the desired height */
        overflow: hidden;
        border: 1px solid #ccc; /* Optional: border for visual aid */
        margin: 20px 0px;
    }
    
    .table-wrapper {
        width: 100%;
        height: 100%;
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        position: relative;
    }

    #scrollable-table {
        width: 100%;
        border-collapse: collapse; /* Ensure borders merge together */
    }
    
    #scrollable-table thead {
        position: sticky; /* Fix the header */
        top: 0; /* Position the header at the top */
        background: #fff; /* Optional: background color for header */
        z-index: 1; /* Ensure header is above the body rows */
    }
    
    #scrollable-table th,
    #scrollable-table td {
        padding: 10px;
        border: hidden;
        text-align: left; /* Align text to the left */
    }
    
    #scrollable-table th {
        background: #4068c0; /* Slightly different background for header */
        color: #fff;
    }
    



    /* CSS FOR PRINT REPORT BUTTON */
    #printreport-btn{
        margin-top: 20px;
        display: flex;
        background-color: #4068c0;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px; */
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #printreport-btn:hover{
        background-color: #395dab;
    }



    /* CSS FOR HEADER */
    body {
        margin: 0px;
    }

    .mainHeader{
        display: flex;
        justify-content: space-between;
        text-align: center;
        background: #4068c0;
        color: white;
        font-family: "Poppins", sans-serif;
        height: 65px;
    }

    .mainHeader .header-left, .header-right{
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .title-header{
        margin-left: 15px;
    }

    .username{
        margin-right: 25px;
    }


    /* CSS FOR LOGOUT */
    
    .material-symbols-outlined {
        cursor:pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }


    /* CSS FOR SNACKBAR || TOAST NOTIF */
    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }
    
    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    /* css for tblreport */

    /* .tblreport {
        max-width: 75%;
        display: block;
    } */

    /* Pagination links */

    .pagination a {
    color: black;
    /* float: left; */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background: #fff; /* Optional: background color for header */
    z-index: 2; /* Ensure header is above the body rows */
  }
  
  /* Style the active/current link */
    .pagination a.current-page {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
    .pagination a:hover:not(.active) {background-color: #ddd;}


    .pagination, .jump-to-page {
        padding: 8px 16px;
        margin-top: 7px;
    }


    /* CSS FOR TESTING TABLE */
    .history-table-header, .history-table-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .page-input, input.placeholder {
        text-align: center;
    }

    .page-input {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 16px;
        font-family: "Poppins";
        margin-left: 7px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }



